
li{
    cursor: pointer;
    margin:0 auto;
}

ul{
    text-decoration: none;
    outline: none;
    margin:0 auto;
    display: flex;
    flex-flow: column;
}

body{
    background-color: #afb4db;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player{
    position:relative;
    height: 640px;
    width: 1080px;
    cursor: pointer;
    margin:0;
    overflow: hidden;
}

video{
    width: 100%;
}

#barrage_switch{
    border-radius: 50%;
    width:30px;
    height:30px;
    margin:5px;
    position:absolute;
    left:-40px;
    background-color: rgba(255, 255, 255, 0.5);
}

#circur{
    border-radius: 50%;
    width:20px;
    height:20px;
    margin:10px;
    position:absolute;
    left:-40px;
    background-color: red;
    z-index: 100;
    transition: 0.3s;
    opacity:0;
}

#barrage{
    position: relative;
    display:inline-flex;
    height:100%;
    width:50%;
    left: 200px;
}
#input{
    margin:5px 0;
    padding:5px;
    height: 20px;
    width:100%;
    outline: none;
    border: none;
    background-color:rgba(255, 255, 255, 0.5);
    color: white;
}
#send{
    margin:5px 10px;
    height:30px;
    width:80px;
    background: rgba(255, 255, 255, 0.8);
    color:white;
}

.control{
    position: relative;
    width: 100%;
    height: 45px;
    bottom: 50px;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.control:hover{
    opacity: 1;
}

#progress{
    display:block;
    width:1000px;
    margin: 0 auto;
}

.control button{
    float: right;
    width: 40px;
    height: 40px;
    padding: 0;
    outline: none;
    border: 0;
    background: none;
    cursor: pointer;
}

#play{
    float: left;
}

#volume{
    float: left;
    position:relative;
}

#leng{
    display: flex;
    position: absolute;
    top: 0;
    height: 20px;
    width: 110px;
    z-index: 3;
    transform: translate(45px, 10px);
    opacity: 0;
    transition: 0.3s;
}

#rate{
    width:35px;
    height:35px;
    font-size:15px;
    margin:3px;
    color:white;
}

#slid1{
    position: relative;
    top: 7.5px;
    width: 100px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

#slider{
    position: relative;
    top: 5px;
    width:10px;
    height:10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#slid2{
    position: relative;
    top: 7.5px;
    width: 0px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

#progress{
    width:100%;
    height: 5px!important;
    display:flex;
}

#progress div{
    height:5px;
}

#non_played{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
}

#time{
    font-size: 20px;
    position: relative;
    top: 2px;
    transition: 0.5s;
    display:inline;
}

#played{
    width: 20%;
    background-color: red;
}

#bar{
    width: 5px;
    background-color: red;
}

#bar:hover{
    transform: scale(3,3);
    border-radius: 50%;
    transition: transform 0.5s;
}

svg{
    width:100%;
}